@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Jockey+One&display=swap');

* {
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
}

#home {
    height: 75vh;
    border-bottom: 3px solid blue;
    border-radius: 10px;
    background-image: url(https://media.istockphoto.com/id/538723971/vector/currency-symbols-seamless-pattern-blue-color.jpg?s=1024x1024&w=is&k=20&c=7om6EP0Oih51U_a5NlnaflVbxD9h5kpCI0pjj6tO4ws=);
    
}

#exchange {
    height: 50vh;
}

#trends {
    height: 100vh;
}

ul {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #CCD1D1;
    justify-content: space-evenly;
}
li {
    list-style-type: none;
    text-decoration: none;
}

a {
    text-decoration: none;
}    

nav img {
    height: 60px;
    width: 65px;
}

nav div {
    border-bottom: 2px solid #CCD1D1;
    padding: 10px;
    justify-content: space-evenly;
}

#result {
    font-weight: bold;
    font-style: italic;
    font-family: "Jockey One", sans-serif;

}

.container {
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px auto;
    gap: 5px;
}

#exchange {
    border-bottom: 2px solid purple;
    border-radius: 10px;
    border-top: 2px solid navy;
}

button {
    background-color: rgb(66, 115, 115);
    border-radius: 4px;
}

button :hover {
    background-color: greenyellow;
}

#currencyInfo {
    /* background-color: blue; */
    font-weight: bold;
    font-size: 25px;
    font-style: italic;
    width: fit-content;
    height: fit-content;
    margin-top: 0%;
    margin-bottom: 5px;
    border: 2px solid transparent;
    border-radius: 5px;
}

#displayer {
    margin-top: 0%;
}

.calculator {
    width: 200px;
    margin: 50px auto;
    border: 2px solid #2afa00;
    padding: 10px;
    border-radius: 5px;
    background-color: #CCD1D1;
  }
  .calculator input[type="button"] {
    width: 40px;
    height: 40px;
    margin: 5px;
    font-size: 18px;
    border: 1px solid #17202A;
    cursor: pointer;
  }
  .calculator input[type="text"] {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    font-size: 18px;
    text-align: right;
  }
  button :hover {
    background-color: #663399;
  }